@tailwind components;
@tailwind utilities;

/* Override base SVG style to work with Ant Design */
svg {
    vertical-align: initial;
}

input {
    outline: none;
}

input:focus {
    outline: none;
}

.hpj-text-hidden{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}

.hpj-text-hidden-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
}

.hpj-text-hidden-3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
}
