.d-flex {
  display: flex;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-shrink,
.shrink0 {
  flex-shrink: 0 !important;
}

.flex1 {
  flex: 1;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}
